html {
    background-color: lightgray;
}

body {
    border: none;
}

.bugs-main {

}



.bug {
    width: 100%;
    border-radius: 5px;
    aspect-ratio: 1/1;
    object-fit: cover;
    position: relative;
    text-align: center;
    padding: 2%
  }

.bugs {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background-color: lightslategray;
  }

  .bug-name {
    text-align: center;
  }



  .bug-info-box {
    position: relative;
    text-align: center;
    padding: 2%;
    background-color: blue;
  }

  .bug-description {
    margin-top: 3px;
    font-size: large;
    border-radius: 10px;
  }

  .bug-technologies-grid {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .bug-technologies {
    font-size: medium;
    background-color: lightgreen;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 3px;

  }