.grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    display: grid;
    gap: 3px;
    width: 500px;
    height: 500px;
    margin: 50px;
  }

.master-container {
  margin: auto;
  width: 50%;
  padding: 10px;
}


.cube-face {
  display: grid;
  border-radius: 5px;
  background-color: black;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  }

.cube-square {
  display: grid;
  border: solid black;
  border-radius: 20px
}

.face-center {
  display: grid;
  border-radius: 20px;
}

.square-color-white {
  background-color: white;
}

.square-color-blue {
  background-color: blue;
}

.square-color-orange {
  background-color: orange;
}

.square-color-red {
  background-color: red;
}

.square-color-green {
  background-color: green;
}

.square-color-yellow {
  background-color: yellow;
}
