html {
    background-color: lightgray;
}

body {
    border: none;
}

.projects-main {

}

.projects {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background-color: lightslategray;
  }

  
  .project {
    position: relative;
    text-align: center;
    padding: 2%
  }