html {
    background-color: lightgray;
}

body {
    border: none;
}

.projects-main {

}

.projects {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background-color: lightslategray;
  }

  .project-name {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: xxx-large;
  }

  
  .project {
    position: relative;
    text-align: center;
    padding: 2%
  }

  .project-info-box {
    position: relative;
    text-align: center;
    padding: 2%;
    background-color: blue;
  }

  .project-description {
    margin-top: 3px;
    font-size: medium;
    border-radius: 10px;
  }

  .project-technologies-grid {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .project-technologies {
    font-size: small;
    background-color: lightgreen;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 3px;

  }