.key {
  border: solid black 4px;
  background-color: grey;
}

.key-letter {
  text-align: center;
  padding-top: 30px;
  font-size: xx-large;
  border-radius: 10px;
}

.key-letter-alt {
  text-align: center;
  padding-top: 30px;
  font-size: xx-large;
  border-radius: 10px;
  font-weight: bolder
}

.key-single {
  text-align: center;
  padding-top: 30px;
  font-size: xx-large;
  border-radius: 10px;
}


.key-double {
  text-align: center;
  padding-top: 30px;
  font-size: xx-large;
  border-radius: 10px;
}

.key-double-alt {
  text-align: center;
  padding-top: 30px;
  font-size: xx-large;
  border-radius: 10px;
  background-color: lightyellow;
  }


.key-pressed {
  background-color: yellow;
  border: solid black 4px;
  text-align: center;
  padding-top: 30px;
  font-size: xx-large;
  border-radius: 10px;
}

.key-pressed-cap {
  background-color: yellow;
  border: solid black 4px;
  text-align: center;
  padding-top: 30px;
  font-size: xx-large;
  border-radius: 10px;
  font-weight: bolder;
}



.grid-typehype {
  background-color: white;
  display: grid;
  border: solid black 20px;
  background-color: black;
  margin-top: 100px;
  margin-left: 100px;
  border-radius: 20px;
  height: 500px;
  width: 1400px;
}
.row-1 {
  display: grid;
  grid-template-columns: repeat(13, 2fr) 3fr;
}

.row-2 {
  display: grid;

  grid-template-columns: 3fr repeat(13, 2fr);

}
.row-3 {
  display: grid;

  grid-template-columns: 2fr repeat(11, 1fr) 2fr;
}
.row-4 {
  display: grid;

  grid-template-columns: 5fr repeat(10, 2fr) 5fr;
}
.row-5 {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 4fr repeat(4, 1fr);
}

.filler {
  background-color: white;
  border: 2px solid black;
}