body {
  background-color: white;
}

html {
  background-color: white;
}

.bungee-inline-regular {
  font-family: "Bungee Inline", sans-serif;
  font-weight: 400;
  font-style: normal;
}



.homepage-link a {
  color: white;
  font-size: x-large;
  text-decoration: none;
  font-family: "Bungee Inline", sans-serif;
  font-weight: 400;
  font-style: normal;

}

.homepage-link a:hover {
  color: black;
  background-color: white;
  transition:  300ms ease-in-out;
}

.outlet-out {
  height: 100vh;
  background-color: white;
}

.outlet-div {
  background-color: white;
  min-height: 100%;
  position: relative
}

.home {
  margin-top: 60px;
  height: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

.home-name {
  font-size: xxx-large;
}

.banner {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  height: 250px;
  background-color: aqua;
}

.banner-top {
  width: 100%;
  height: 20px;
  background-color: #CC5500;
  ;
}



.projects-grid {
  display: grid;
  margin-bottom: 30px;
}

.full-width {
  width: 100%;
}




  
.homepage-header {
  font-size: xxx-large;
  text-wrap: nowrap;
  text-align: left;
  line-height: 100%;
  margin-top: 30px;
  margin-left: 40px;
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.homepage-subline {
  font-size: x-large;
  text-wrap: nowrap;
  font-style: italic;
  color: orangered;
  margin-left: 40px;
  margin-bottom: 10%;
}





  .pages-header {
    font-size: calc(2em + 3vw);
    text-wrap: nowrap;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: "Monoton", sans-serif;
    font-weight: 400;
    font-style: bold;
  }


  .homepage-double {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .homepage-image {
    margin-right: 100px;
  }
  .homepage-image img {
    border-radius: 100%;
    max-width: 50%;
  }

  

  
  .projects-header {
    font-size: 100px;
    margin-top: 20px;
    margin-left: 30px;
  }

  .vizs-header {
    font-size: 100px;
    margin-top: 20px;
    margin-left: 30px;
  }
  
  .contact-header {
    font-size: 100px;
    margin-top: 20px;
    margin-left: 30px;
  }
  
  .resume {
    margin-top: 50px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  .name {
    font-size: 90px;
    margin-top: 20px;
    margin-left: 20px;
  }
  
  .subline {
    font-size: 35px;
    margin-left: 5px;
    margin-bottom: 100px;
    font-style: italic
  }
  
  .section-left {
    text-align: right;
    font-size: 120px;
    text-decoration: underline;
    justify-items: right;
    width: 100%;
    margin-top: 10%;
    margin-right: 100px;
    background-color: white;
    margin-right: 100px;
  }
  
  .section-right {
    margin-top: 20%;
    width: 100%;
    font-size: x-large;
    text-align: right;
    font-size: 120px;
  }
  
  .section-full {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 100px;
  
  }
  
  .section-image {
    border-radius: 100%;
    min-width: 20%;
    max-width: 30%;
  }
  

  .project-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: xxx-large;
  }
  
  .project-details {
    font-size: large;
  }
  
  .darken {
    transition: all 250ms ease-in-out;
    filter: brightness(20%);
    width: 100%;
    border-radius: 30px;
    border: solid black 5px;
    aspect-ratio: 11/6;
    object-fit: cover;
  }
  
  .darken:hover {
    filter: brightness(100%);
  }
  
  .darken:hover + .project-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }
  
  
  .project-details {
    font-size: large;
    justify-self: first baseline;
  }